#blobSvg {
	position: fixed;
	transform: translate(-50%, -50%);
	animation: myAnimation 5000ms forwards;
	transition: all ease-in-out;
	top: var(--yaxis);
	left: var(--xaxis);
}

#blur {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(100px);
}
