.contact {
	.contact-wrapper {
		width: 100%;

		@media (max-width: 800px) {
			flex-direction: column-reverse;

			.email-wrapper {
				width: 100%;
			}
		}

		.email-wrapper {
			@media (max-width: 800px) {
				width: 100%;
			}
		}
	}

	.email {
		margin-top: 30px;
		a {
			display: inline;
			font-weight: 700;
			font-size: 1rem;
		}
	}
}
.sign-in-form-main {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: max-content;

	.contact-form-container {
		margin-top: 10px;
		width: 100%;

		.sign-in-inputs {
			background: $bg-color;
			margin-top: 0.5em;
			width: inherit;
			border: 1px solid $a-color;
			font-size: 0.8rem;
			padding: 1em;
			outline: none;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			color: currentColor;
			border-radius: 0.5em;
			box-shadow: 0.5em 0.5em 0 0 $b-color;
			transition: all 0.15s ease-in-out;
			&:focus {
				box-shadow: 0 0 0 0 $b-color;
				transform: translateX(0.5em) translateY(0.5em);
			}

			&::placeholder {
				font-weight: 400;
			}
			&:placeholder-shown {
				font-weight: 400;
			}
		}
		.recaptcha {
			width: 100%;
			.rc-anchor-normal .rc-anchor-content {
				width: max-content;
			}
		}

		.form-error {
			margin: 5px 0;
			font-weight: 400;
			color: tomato;
			font-size: 0.75rem;
			height: 16px;
			p {
				margin: 0;
				text-transform: none;
			}
		}

		.sign-in-form-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 10px;

			.sign-in-submit {
				margin-right: auto;
				color: #ffffff;
				border: none;
				outline: none;
				padding: 10px 30px;
				font-family: $default-font;
				font-weight: 400;
				font-size: 1rem;
				border-radius: 5px;
				cursor: pointer;
				background: $a-color;
				box-shadow: 5px 5px 0px 0px $b-color;
				transition: all 0.15s ease-in-out;
				&:hover {
					box-shadow: 0px 0px 0px 0px $b-color;
					transform: translateX(5px) translateY(5px);
				}
			}
		}
	}

	textarea {
		resize: vertical;
	}
}
