@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
@import "variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		height: 300%;
		width: 300%;
		opacity: 0.3;
		position: fixed;
		left: -50%;
		top: -100%;
		animation: grain 20s steps(10) infinite;
	}
	&:before {
		background-color: #000000;
		filter: url(#grainy);
	}

	svg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
	}
}

@keyframes grain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, 5%);
	}
	30% {
		transform: translate(7%, -25%);
	}
	40% {
		transform: translate(-5%, 25%);
	}
	50% {
		transform: translate(-15%, 10%);
	}
	60% {
		transform: translate(15%, 0%);
	}
	70% {
		transform: translate(0%, 15%);
	}
	80% {
		transform: translate(3%, 35%);
	}
	90% {
		transform: translate(-10%, 10%);
	}
}

.container {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 25px;
	padding-bottom: 2em;
	display: flex;
	flex-direction: column;
	gap: 10em;
	@media screen and (min-width: 640px) {
		max-width: 640px;
	}
	@media screen and (min-width: 768px) {
		max-width: 768px;
	}
	@media screen and (min-width: 1024px) {
		max-width: 1024px;
	}
	@media screen and (min-width: 1280px) {
		max-width: 1280px;
	}
}

body {
	font-family: $default-font;
	background: $bg-color;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	line-height: 1.25;
	overflow-x: hidden;
	width: 100%;
	.title-section {
		font-family: $mono-font;
		color: $a-color;
		margin-bottom: 50px;
	}

	a {
		display: block;
		cursor: pointer;
		text-decoration: none;
		color: currentColor;
		transition: all ease-in-out;
		height: max-content;
		&:hover {
			color: $a-color;
		}
	}

	h1,
	h2 {
		color: $a-color;
	}

	p,
	h1,
	h2,
	a,
	form,
	ul {
		position: relative;
	}

	li {
		list-style-type: none;
	}

	footer {
		position: fixed;
		bottom: 0;
		height: max-content;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 100px;

		@media (max-width: 800px) {
			position: unset;
		}

		.main-buttons {
			margin: 20px 0;
			p {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: small;
				text-transform: none;
				font-family: $mono-font;
				text-align: center;
			}
			.bottom {
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}
