@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;500;600&display=swap");
@import "variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0.17, 1.64, 0.9, 1.53);
}

body {
	color: $a-color;
	background: $bg-color;
}

a {
	color: inherit;

	&:hover {
		color: $text-color-two;
		text-decoration: none; /* no underline */
	}
}

ul {
	list-style: none;
}

.wrapper {
	width: 100%;
}

.container {
	width: 100%;
	min-height: 100dvh;
	margin: 0 auto;
	padding: 2em;
	display: grid;
	place-items: center;
	max-width: 640px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 0;
}
