@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
@import "variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0.17, 1.64, 0.9, 1.53);
}

.wrapper {
	width: 100%;
}

.container {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 2em;
	display: flex;
	flex-direction: column;
	max-width: 640px;
}

// body {
// 	font-family: $default-font;
// 	background: $bg-color;
// 	color: $text-color;
// 	-webkit-font-smoothing: antialiased;
// 	line-height: 1.25;
// 	overflow-x: hidden;
// 	width: 100%;
// 	a {
// 		display: block;
// 		cursor: pointer;
// 		text-decoration: none;
// 		color: currentColor;
// 		transition: all ease-in-out;
// 		height: max-content;
// 		&:hover {
// 			color: $a-color;
// 		}
// 	}

// 	p,
// 	h1,
// 	h2,
// 	a,
// 	form,
// 	ul {
// 		position: relative;
// 	}

// 	li {
// 		list-style-type: none;
// 	}
// }
