$bg-color: #f8f9fa;
$bg-color-two: #e9ecef;
$text-color: #adb5bd;
$text-color-two: #6c757d;
$a-color: #212529;
$b-color: #343a40;
$mono-font: "Roboto Mono", monospace;
$default-font: "Roboto Condensed", sans-serif;
